/*GLOBAL*/

h1
{
    font-size: 50px;
}

h2
{
    margin-top: 80px;
    margin-bottom: 50px;
}

h3{
    font-size: 25px;
    margin-bottom: 25px;
}

h5
{
    color: white;
    font-size: 18px;
    font-weight:normal;
}

/*HEADER=============================================================================*/

header
{
    width: 100%;
}

/*TOP_HEADER=============================*/
.top_header
{
    height:40px;
    width: 100%;
    
        img
            {
            height: 20px;
            width: auto;
            }
}

.top_header
{
    .adress
    {
        padding-top: 15px;
        display: flex;
        justify-content: flex-end;
    }
    
    .mail
    {
        padding-top: 15px;
        padding-left: 5%;
        display: flex;
        justify-content:left;
    }
    
    .phone
    {
        padding-top: 15px;
        padding-left: 10%;
        display: flex;
        justify-content: left;
    }   
}

/*BOTTOM_HEADER============================*/

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link 
{
    color: white;
}

.bottom_header
{
    width: 100%;
    height: 70px;
}

.container-fluid
{
    height: 100%;
    font-size: 20px;
    color: white;

        .navbar-brand
        {
            font-size: 28px;
            font-weight: bold;            
            color:rgb(163, 118, 58);
            padding-left: 18%;            
        
            
        }
        .navbar-nav
            {
            padding-left: 36%;
                    
                    a
                    {
                        color: white;
                        height: 62px;
                    }
                        
                        :hover
                        {
                            color: rgb(163, 118, 58);
                            border-bottom: solid 4px rgb(163, 118, 58);
                        } 
                        
                        .nav-link
                        {
                            margin-left: 25px;
                            
                        }
            }
}

/*SECTION TITLE====================================================================*/

#title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 1000px;
    width: 100%;
        
        .title-img
        {
            position: absolute;
            width: 100%;
            height: 1000px;
            filter: sepia(0.8);
            filter: brightness(40%);
        }
            h1 , h3 , .button-1
            {
                z-index: 2;
                position: relative;
                color: white;
                // text-align: center;
            }
            
            .button-1
            {
                margin-top: 50px;
                text-decoration: none;
                background-color:rgb(163, 118, 58);
                width: 150px;
                height: 45px;
                text-align: center;
                padding-top: 10px;
            }
}

/* SECTION WELCOME=================================================================*/

#welcome
{
    width: 100%;
    height: auto;
    padding-left: 20%;
        
        h2::after
        {
            display: block;
            height: 2px;
            background-color: burlywood;
            width: 100px;
            content: " ";
            margin-top: 30px; 
        }

        .button-2
        {
            color: rgb(163, 118, 58);
            text-decoration: none;
        }

        .welcome-photo
        {
            height: auto;
            background: url("ressources/images/welcome.jpg") center no-repeat ;
            filter: sepia(0.7);
        }
}

/*SECTION INDUSTRIES===============================================================*/

#industries
{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #eee7df;

}

#industries h2
{
    text-align: center;
    margin-bottom: 80px;
}

#industries img
{
    height: 80px;
}


#industries h4
{
    margin-top: 40px;
    margin-bottom: 30px;
}

/*SECTION ADVICE===================================================================*/

.advice
{
    width: 100%;
    background: url("ressources/images/advice_img.jpg") center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
        h2, span, p{
            text-align: center;
            z-index: 2;
            color: white;
        }
        .row
        {
            display: flex;
            justify-content: space-evenly;
        }
        span
        {
            padding-left: 110px;
            font-size: 50px;
            font-weight: bolder;            
        }
        
        p
        {
            margin-top: 20px;
        }
    }

/*SECTION TEAM=====================================================================*/
#team
{
    width: 100%;
}

#team h2
{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

#team .contenu
{
    display: flex;
    justify-content: center;
        
        ul
        {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
        }
            li
            {
                width: 25%;
                
            }
}

#team h4
{
    margin-top: 35px;
    margin-bottom: 30px;
}

#team img
{
    width: 100%;
}

#team p
{
    margin-bottom: 40px;
}

#team span
{
    color: rgb(163, 118, 58);
}

/*SECTION LOGOS====================================================================*/

#logos{
    // width: 100%;
    display: block;
    margin: auto;
    height: auto;
    padding-top: 130px;
        
                img
                {
                    max-width: 150px;
                }
}

/*SECTION PEOPLE===================================================================*/

#people
{
    width: 100%;
    height: auto;
    background-color: #eee7df;

        .row
        {
            margin-top: 30px;
        }
        
        .face, h2
        {
        text-align: center; 
        }
        
        span
        {
            font-size: 25px;
        }
        
        img
        {
            width: 90%;
            height: auto;
        }
} 

#people .stars
{
    margin-top: 15px;
    margin-bottom: 15px;
        img
        {
            height: 20px;
            width: auto;
        }
}

/*FOOTER===========================================================================*/



/*FOOTER/BUSINESS=================================*/
footer
{
    width: 100%;
    height: auto;
    background: url("ressources/images/footer_main.jpg") center no-repeat;
    background-size: 100%; 
        
}

footer .container
{
    position: relative;
    z-index: 2;
    padding-top: 80px;
        
        span
        {
            font-size: 28px;
            font-weight: bolder;
            color: white;
        }
        
        p
        {
            color: white;
        }
        
        strong
        {
            font-size: 20px;
            color:rgb(163, 118, 58);
        }
        
        hr{
           border: 1px solid white;
        }
        
        #search-bar
        {
            height: 40px;
            width: 50%;
        }        
        
        button
        {
            height: 43px;
            width: 30%;
            background-color: rgb(163, 118, 58);
            color: white;
            margin-left: -5px;
        }
    }

footer .contenu
{
    display: flex;
    justify-content: space-between;
        p
        {
            font-size: 20px;
        }
        img
        {
            height: 20px;
        }
}

/*FOOTER/BLOG===========================================*/

footer .blog
{
    width: 100%;
    height: auto;
}

.blog-text p
{
    font-size: 15px;
        text-transform:uppercase;
}

footer .container .blog img
{
    height: 90px;
    filter: sepia(0.8);
}

footer .blog-text span
{
    font-size: 15px;
    font-weight: normal;
    color: rgb(163, 118, 58);
}


/*FOOTER/INSTAGRAM======================================*/

footer .insta
{
    width: 100%;
    height: auto;
}

footer .insta-1
{
    display: flex;

}

footer .insta-2
{
    display: flex;

}

footer .insta-3
{
    display: flex;

}


footer .insta img
{
    height: 99px;
    filter: sepia(1);
}

/*BOTTOM FOOTER======================================== */

footer .bottom-footer p
{
    margin-top: 220px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

/*RESPONSIVE=======================================================================*/

/*ECRANS < 900px ============================*/

@media screen and (max-width: 1428px)
{
    
}

@media screen and (max-width: 1100px)
{
    .advice
        {
            background: black;
        }
}

@media screen and (max-width: 992px)
{
    .advice
    {
        text-align: center;
            span
            {
                padding-right: 110px;
            }
    }
}

@media screen and (max-width: 900px)
{
    /*SECTION TITLE===============================================================*/
    #title
    {
        height: 300px;
        margin-top: 97px;
        text-align: center;
            .title-img
            {
                height: 500px;
            }
    } 
    /*SECTION WELCOME=============================================================*/
    
    #welcome
    {
        margin-top: 100px;
        text-align: center;        
            .welcome-img
            {
                width: 100%;
                margin-top: 40px;
            }
    }
    #team
    {
        width: 100%;
    }

}

@media screen and (max-width: 900px)
{
    #team .contenu ul
    {
        flex-direction: column;
        align-items: center;
    }
    
    #team .contenu li
    {
        width: 35%;

    }

}


/*ECRAN < 750px ============================*/

// @media screen and (max-width: 750px)
// {

// }

/*POUBELLE==========================================*/

